.choice-container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 0.3rem;
    column-gap: 0.3rem;
}


.choice {
    display: flex;
    text-align: center;
    text-justify: center;
    justify-content: space-between;
    
    padding: 0.4rem;
    border-style: solid;
    border-radius: 0.3rem;
    border-width: 0.05rem;

    font-weight: bold;
    font-style: italic;
}

.choice > p {
    margin: 0;
}

.choice-default {
    transition: 0.3s;
}

.choice-perma-on,.choice-default:hover {
    background-color: azure;
    color: black;
    border-color: black;
}

.choice-perma-off {
    opacity: 0.5;
}


.choice-result {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    justify-content: center;
    
    padding: 0.4rem;
    border-style: solid;
    color: #3851f4;
    border-color: #3851f4;
    border-radius: 1rem;
    border-width: 0.05rem;

    font-weight: bold;
    font-style: italic;
}

.choice-result.success {
    color: #35ebd3;
    border-color: #35ebd3;
}

.success.success-on {
    background-color: #35ebd3;
    color: black;
    border-color: black;
}

.choice-result.fail {
    color: #9447dc;
    border-color: #9447dc;
}

.fail.fail-on {
    background-color: #9447dc;
    color: black;
    border-color: black;
}

.success-off,.fail-off {
    opacity: 0.5;
}

.choice-container hr {
    border-width: 0.3rem;
    width: 100%;
}