.gone {
    display: none;
}

.clickable {
    cursor: pointer;
}

.weak-prompt {
    font-style: italic;
    color: lightblue;
}

.default-box {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.05rem;
    border-radius: 0.5rem;

    background-color: #1a1a1a;

    padding: 1rem;
}

.default-box p {
    margin: 0;
    padding: 0.3rem;
}