.gone {
    display: none;
}

.clickable {
    cursor: pointer;
}

.weak-prompt {
    font-style: italic;
    color: lightblue;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}



.default-box {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.05rem;
    border-radius: 0.5rem;

    background-color: #1a1a1a;

    padding: 1rem;
}

.default-box p {
    margin: 0;
    padding: 0.3rem;
}