#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    width: 100%;
    height: 100%;
}

#root > * {
    margin-bottom: 2rem;
}


div.panels-contain {
    display: flex;
    justify-content: space-between;
}


div.left-panel {
    width: 70%;
    padding: 0.5rem;
}
div.left-panel > * {
    margin-bottom: 2rem;
}